html, body {
    overflow: auto;
}

button {
    padding: 10px 15px;
    border-radius: 3px;
    background: #FFF;
    border: 1px solid;
}

@media only screen and (max-width: 767px) {
    body {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}